<!-- views/pokemon.ejs -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title><%= pokemon.name %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%= pokemon.name %></h1>
    <p>Tipo: <%= pokemon.tipo %></p>
    <a href="/">Voltar à Pokédex</a>
</body>
</html>
